@using Enfield.ShopManager.Helpers;
@model Enfield.ShopManager.Models.ShopFloorModel
@{
    Bundles.Reference("~/Scripts/ShopFloor");
    ViewBag.Title = "Index";
    ViewBag.Section = "shop-floor";
    ViewBag.Page = "index";
}

@using (Html.BeginForm("InvoiceDetail", "ShopFloor", FormMethod.Post, new { @id = "shop-form" }))
{
    <div id="shop-invoice">
        @Html.Partial("_Navigation", Model)
        @Html.Partial("_InvoiceDetail", Model.Invoice)
        @Html.Partial("_ServiceList", Model.Invoice.ServiceList)
        @Html.Partial("_LaborList", Model.Invoice.LaborList)
        @Html.Partial("_HistoryList", Model.Invoice.History)
    </div>
}

@section Filter {
    @Html.Partial("_ServiceTabs", Model.Services)
    @Html.Partial("_Dialogs")
    @Html.Partial("_Urls")
}