@using PagedList.Mvc;
@using Enfield.ShopManager.Helpers;
@model Enfield.ShopManager.Models.SecurityLogListingModel
@{
    Bundles.Reference("~/Scripts/Administration");
    ViewBag.Title = "Security Log";
    ViewBag.Section = "administration";
    ViewBag.Page = "security-log";
}

<div class="pager-header">
    @Html.PagedListPager(Model.SecurityLog, page => Url.Action("SecurityLog", Model.Filter.GenerateSecurityLogRoute(page)), new AdminListRenderOptions())
    @if (ViewBag.Size != null)
    {
        <div class="pager-size">Show @Html.DropDownListFor(m => m.Filter.Size, (SelectList)ViewBag.Size) at a time</div>
    }
</div>

@{
    var grid = new WebGrid(Model.SecurityLog, canSort: false, rowsPerPage: Model.Filter.Size);
}
<div class="admin-listing">
    @grid.GetHtml(columns: grid.Columns(
        grid.Column("LocationName", "Location"),
        grid.Column("UserName", "User"),
        grid.Column("LoginDate", "Login Date", @<text>@item.LoginDate.ToString("MM/dd/yyyy HH:mm")</text>),
        grid.Column("IpAddress", "IP Address"),
        grid.Column("ResultFlag", "Result"),
        grid.Column("Reason", "Reason")
    ))
</div> 

@section Filter {
    @Html.Partial("_SecurityLogFilter", Model.Filter)
}